<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>firstPage</title>
<style>
  #id1{
    color:blue;
    size: 34px;

  }
  #id2{
    color: tomato;
  }

</style>
</head>


<body>
    <form method="POST" action="">
        Name <input id="id1" type="text" size="25px" name="name" />
        <br>
        Email <input id="id1" type="email" size="30px" name="email" />
        <br>
        <input id="id2" type="submit">
      </form>
</body>
</html>

<!-- <img src="maxresdefault.jpg" alt="Government" width="100%" height="100%"> -->
