<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DataBase</title>
    <style>
h1{
    color: orangered;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
    </style>
</head>
<body>
    <h1>Please enter your userid and password for Accessing database!</h1>
        <form method="POST" action="">
                UserId <input  type="text" name="userid" />
                <br>
                Password <input  type="password" name="password" />
                <br>
                <input  type="submit">
              </form>
</body>
</html>
